{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block content %}

<div class="row">
    <div class="col-6">
        <img src="https://picsum.photos/600" class="img-fluid" alt="">
    </div>

    <div class="col-6">
        <h4>{{ product.title }}</h4>
        {{ product.price }}
        <p>{{ product.description }}</p>
        <a class="btn btn-success" href="">Ajouter au panier</a>
    </div>
</div>

{% endblock %}